.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 1rem;
}


.modal__around {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( 0, 0, 0, 0.3 );
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.modal__content {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  z-index: 101;
}

.modal__close__button {
  position: absolute;
  top: 4px;
  right: 5px;
}

.modal__content {
  padding: 25px;
  border-radius: 5px;
}

.modal__close__button {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}
